---
import Layout from "@/layouts/Layout.astro";
import { Card, CardContent, CardHeader } from "@/components/ui/card";
import LinkCard from "@/components/LinkCard.astro";

const formularios = [
  {
    title: "Sistema Nervioso Humano",
    slug: "sistema-nervioso-humano",
    miniature: "sistema-nervioso.webp",
  },
  {
    title: "Sistema Digestivo Humano",
    slug: "sistema-digestivo-humano",
    miniature: "sistema-digestivo.webp",
  },
];
---

<Layout title="Prueba tecnica">
  <main class="flex items-center justify-center h-full">
    <Card className="max-w-4xl w-full">
      <CardHeader>
        <p class="text-3xl text-center uppercase tracking-widest font-title">
          Prueba tecnica - koplik
        </p>
        <p class="justify-center text-sm flex gap-2 opacity-80">
          Por: <a
            href="https://github.com/DiegoVanegas03"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-500 underline">@DiegoVanegas03</a
          >
        </p>
      </CardHeader>
      <CardContent
        className="grid grid-cols-2 gap-3 place-content-center place-items-center"
      >
        {
          formularios.map((form) => (
            <LinkCard
              title={form.title}
              slug={form.slug}
              miniature={form.miniature}
            />
          ))
        }
      </CardContent>
    </Card>
  </main>
</Layout>
