---
import Layout from "@/layouts/Layout.astro";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
} from "@/components/ui/card";
import { Image } from "astro:assets";
import formulario1 from "@/assets/images/formulario-1-wallpaper.webp";
---

<Layout title="Prueba tecnica">
  <div class="bg-fixed-pked"></div>
  <main class="flex items-center justify-center h-full">
    <Card className="max-w-4xl w-full">
      <CardHeader>
        <p class="text-3xl text-center uppercase tracking-widest font-title">
          Prueba tecnica - koplik
        </p>
        <p class="justify-center text-sm flex gap-2 opacity-80">
          Por: <a
            href="https://github.com/DiegoVanegas03"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-500 underline">@DiegoVanegas03</a
          >
        </p>
      </CardHeader>
      <CardContent
        className="grid grid-cols-2 gap-3 place-content-center place-items-center"
      >
        <a
          href="/formulario-1"
          class="transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110"
        >
          <Card className="pt-0 drop-shadow-2xl">
            <CardContent className="p-0">
              <Image
                src={formulario1}
                class="rounded-t-xl"
                width="300"
                alt="formulario-1"
              />
            </CardContent>
            <CardFooter
              className="text-sm font-bold w-full justify-center italic "
            >
              <span class="underline text-blue-600"> Primer formulario </span>
              - 🧠</CardFooter
            >
          </Card>
        </a>

        <Card>
          <CardContent> tarjeta 2 </CardContent>
        </Card>
      </CardContent>
    </Card>
  </main>
</Layout>
